{% extends 'fhir/doctor.html' %}
{% block function %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/doctor.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="create">
        <form class="create-form"action="{% url 'fhir:register' group_name user_name  %}" method="post">
            {% csrf_token %}   
            <br>
            <label for="full_name">Họ và tên</label>
            {{form.name}}
            <br>
            <br>
            <label for="gioi_tinh">Giới tính</label>
            {{form.gender }}
            <br>
            <br>
            <label for="ngay_sinh">Ngày sinh</label>
            {{form.birthDate}}
            <br>
            <br>
            <label for="dia_chi">Địa chỉ</label>
            {{form.home_address}}
            <br>
            <br>
            <label for="user_identifier">Mã y tế </label>
            {{form.identifier}}
            <br>
            <br>
            <label for="noi_lam_viec">Nơi làm việc</label>
            {{form.work_address}}
            <br>
            <br>
            <label for="">Số điện thoại</label>
            {{form.telecom}}
            <br>
            <input type="submit" value="Submit">
        </form>   
    </div> 
{% endblock %}