{% extends 'fhir/doctor.html' %}
{%block leftbody%}
    <ul>
        {%block leftbar%}
        {%endblock%}
    
        <!-- <button id="myButton" class="float-left submit-button" >Add a service</button>
        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = " ";
            };
        </script> -->
    </ul>
{%endblock%}
{%block function %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/display.css'%}">
<div class="display-box">
    <div class="display-data">
        <h1>THÔNG TIN BỆNH NHÂN</h1>
        <div class="patient-data">
            <div class="text-data">
                <div class="name patient">
                    <h4 class="title">Họ và tên:</h4>
                    <h4 class="value">{{data.Patient.name}}</h4>
                </div>
                <div class="identifier patient">
                    <h4 class="title">Giới tính:</h4>
                    <h4 class="value">{{data.Patient.gender}}</h4>
                </div>
                <div class="gender patient">
                    <h4 class="title">Mã y tế:</h4>
                    <h4 class="value">{{data.Patient.identifier}}</h4>
                </div>
                <div class="birth patient">
                    <h4 class="title">Địa chỉ:</h4>
                    <h4 class="value">{{data.Patient.home_address}}</h4>
                </div>
                <div class="work patient">
                    <h4 class="title">Nơi làm việc:</h4>
                    <h4 class="value">{{data.Patient.work_address}}</h4>
                </div>
                <div class="home patient">
                    <h4 class="title">Số điện thoại:</h4>
                    <h4 class="value">{{data.Patient.telecom}}</h4>
                </div>
                <h1>THÔNG TIN NGƯỜI LIÊN HỆ, BÁO TIN</h1>
                <div class="contact patient">
                    <h4 class="title">Quan hệ:</h4>
                    <h4 class="value">{{relationship|get_item:data.Patient.contact_relationship}}</h4>
                </div>                
                <div class="contact patient">
                    <h4 class="title">Họ và tên:</h4>
                    <h4 class="value">{{data.Patient.contact_name}}</h4>
                </div>
                <div class="contact patient">
                    <h4 class="title">Giới tính:</h4>
                    <h4 class="value">{{data.Patient.contact_gender}}</h4>
                </div>                    
                <div class="contact patient">
                    <h4 class="title">Số điện thoại:</h4>
                    <h4 class="value">{{data.Patient.contact_telecom}}</h4>
                </div>
                <div class="contact patient">
                    <h4 class="title">Địa chỉ:</h4>
                    <h4 class="value">{{data.Patient.contact_address}}</h4>
                </div>                                                                            
            </div>
            <div class="patient-image">
                <img src="{% static 'img/patient/' %}{{data.Patient.identifier}}.jpg" alt="">
            </div>
        </div>
        <div class="encounter-data">
        </div>
        <h1>CÁC LẦN ĐĂNG KÝ KHÁM </h1>
        <table>
            <thead>
                <th>Ngày đăng ký</th>
                <th>Mã đợt khám</th>
                <th>Loại thăm khám</th>
                <th>Tình trạng thăm khám</th>
                <th>Ngày kết thúc</th>
                <th>Xem hồ sơ</th>
            </thead>
            {%if data.Encounter%}
            {%if data.encounter_type == 'list'%}
            {%for encounter in data.Encounter%}
            <tr>
                <td>{{encounter.encounter_start|date:"d-m-Y H:i:s"}}</td>
                {% if encounter.encounter_storage == 'local' %}
                <td><a
                        href="{% url 'fhir:hanhchinh'  data.Patient.identifier encounter.encounter_identifier %}">{{encounter.encounter_identifier}}</a>
                </td>
                {% elif encounter.encounter_storage == 'hapi' %}
                <td>{{encounter.encounter_identifier}}</td>
                {% endif %}
                <td>{{class|get_item:encounter.encounter_class}}</td>
                {% if encounter.encounter_status == 'in-progress' %}
                <td> Đang Khám</td>
                {%elif encounter.encounter_status == 'finished'%}
                <td>Đã Khám xong</td>
                {%endif%}
                {%if encounter.encounter_end%}
                <td>{{encounter.encounter_end|date:"d-m-Y H:i:s"}}</td>
                {%else%}
                <td></td>
                {%endif%}
                <td><a href="{% url 'fhir:view_benhan'  data.Patient.identifier encounter.encounter_identifier %}">Xem</a></td>
            </tr>
            {%endfor%}

            {%elif data.encounter_type == 'dict'%}
            <tr>
                <td>{{encounter.period.start}}</td>
                <td><a
                        href="{% url 'fhir:hanhchinh'  data.Patient.identifier data.encounter.identifier %}">{{encounter.identifier}}</a>
                </td>
                <td>{{encounter.class}}</td>
                <td>{{encounter.status}}</td>
                <td>{{encounter.period.end}}</td>
            </tr>
            {%endif%}
            {%endif%}
            <tr>
                <td colspan="6"><button class="float-left submit-button" onclick="openForm()">Lần đăng ký khám
                        mới</button></td>
            </tr>
        </table>
    </div>
    <div class="formPopup" id="popupForm">
        <form action="{% url 'fhir:encounter'  data.Patient.identifier%}" class="formContainer"
            method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

</div>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "{% url 'fhir:encounter'  data.Patient.identifier%} ";
    };
</script>

</div>
<div>
    <script>
        function openForm() {
            document.getElementById("popupForm").style.display = "inline-block";
        }
        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }
    </script>
</div>
{%endblock%}