{% extends 'fhir/doctor.html' %}
{%block function %}
        <h1>Thông tin bệnh nhân</h1>
        <p>Mã y tế: {{data.Patient.identifier}}</p>
        <p>Họ và tên: {{data.Patient.name}}</p>
        <p>Giới tính: {{data.Patient.gender}}</p>
        <p>Ngày sinh: {{data.Patient.birthDate}}</p>
        <p>Địa chỉ: {{data.Patient.home_address}}</p>
        <p>Nơi làm việc: {{data.Patient.work_address}}</p>
        <p>Số điện thoại: {{data.Patient.telecom}}</p>
        <h1>CÁC LẦN ĐĂNG KÝ KHÁM </h1>
        <table>
            <tr>
                <td>Ngày đăng ký</td>
                <td>Mã đợt khám</td>
                <td>Loại thăm khám</td>
                <td>Tình trạng thăm khám</td>
                <td>Ngày kết thúc</td>
            </tr>
        {%if data.Encounter%}
           {%if data.encounter_type == 'list'%}
                {%for encounter in data.Encounter%}
                    <tr>
                        <td>{{encounter.encounter_start}}</td>
                        <td><a href="{% url 'fhir:hanhchinh' group_name user_name data.Patient.identifier encounter.encounter_identifier %}">{{encounter.encounter_identifier}}</a></td>
                        <td>{{encounter.encounter_class}}</td>
                        <td>{{encounter.encounter_status}}</td>
                        <td>{{encounter.encounter_end}}</td>
                    </tr>
                {%endfor%}
            
            {%elif data.encounter_type == 'dict'%}
                <tr>
                    <td>{{encounter.period.start}}</td>
                    <td><a href="{% url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.encounter.identifier %}">{{encounter.identifier}}</a></td>
                    <td>{{encounter.class}}</td>
                    <td>{{encounter.status}}</td>
                    <td>{{encounter.period.end}}</td>
                </tr>
            {%endif%}
        {%endif%}
        <tr>
            <td colspan="5"><button id="myButton" class="float-left submit-button" >Lần đăng ký khám mới</button></td>
        </tr>
        </table>
        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "{% url 'fhir:encounter' group_name user_name data.Patient.identifier%} ";
            };
        </script>
{%endblock%}