{% extends 'fhir/doctor.html' %}
{%block function %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/doctor.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="left-body">
    <ul>
        <li><a href="{% url 'fhir:register' user_name group_name %}"> Tạo hồ sơ </a></li>
        <li><a href="">Tạo bệnh án</a></li>
        <li><a href="{% url 'fhir:upload' user_name group_name %}"> Chuyển đổi excel </a></li>
        <li><a href="{% url 'fhir:search' user_name group_name %}">Tìm kiếm hồ sơ</a></li>
    </ul>
</div>
<div class="right-body">
    <h1>Upload your excel file</h1>
    <form action="{% url 'fhir:upload' user_name group_name %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excel_file" id="excel_file">
        <input type="submit" value="Submit">
    </form>
</div>

{%endblock%}