<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
</head>
<body>
    <div>
        <h1>Khoa khám bệnh</h1>
    
        <table>
        
        </table>

    </div>
    <div>
        <h1>Nhân sự</h1>
    </div>
    <div>
        
        <h1>Cơ sở vật chất</h1>

        <table>
            
        </table>

    </div>

</body>
</html>