{% extends 'fhir/view/base.html' %}
{% block right-body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/phieuxetnghiem.css' %}">
<div>
    {% if services_history %}
        <div class="history-container">
            {% for service in services %}   
                <div class="history" id="{{service.service_identifier}}-history" style="display: none;">
                    <div class="history-header">
                        <h1>Lịch sử chỉnh sửa</h1>
                        <i class="fa fa-times" aria-hidden="true" onclick="displayHistory('{{service.service_identifier}}-history')"></i>
                    </div>
                    {% for service_history in services_history|get_item:service.service_identifier %}
                        <div>
                            <h2>Chỉnh sửa ngày: {{service_history.last_updated}}</h2>
                            <p>Tên xét nghiệm: {{service_history.service_code}}</p>
                            <p>Ngày dự kiến: {{service_history.service_occurrence}}</p>
                            <p>Ngày yêu cầu: {{service_history.service_authored}}</p>
                            <p>Bác sĩ yêu cầu: {{service_history.service_requester}}</p>
                            <p>Ghi chú: {{service_history.service_note}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <table>
            <thead>
                <th>ID xét nghiệm</th>
                <th>Tên xét nghiệm</th>
                <th>Tình trạng xét nghiệm</th>
                <th>Ngày dự kiến thực hiện xét nghiệm</th>
                <th>Ngày yêu cầu xét nghiệm</th>
                <th>Bác sĩ yêu cầu xét nghiệm</th>
                <th>Ghi chú cho xét nghiệm</th>
            </thead>
            <tbody>
            {% if encounter.encounter_storage == 'local' %}
                {% if services %}
                    {% for service in services %}
                    <tr onclick="displayToggle('{{service.service_identifier}}')">
                        <td>{{service.service_identifier}}</td>
                        <td>{{service.service_code}}</td>
                        <td>{{service.service_status}}</td>
                        <td>{{service.service_occurrence|date:"d-m-Y"}}</td>
                        <td>{{service.service_authored|date:"d-m-Y"}}</td>
                        <td>{{service.service_requester}}</td>
                        <td>{{service.service_note}}</td>
                    </tr>
                    {% endfor %}
                    {% if services_history|get_item:service.service_identifier %}
                        <button onclick="displayHistory('{{service.service_identifier}}-history')">xem lịch sử</button>
                    {% endif %}
                {% else %}
                
                <tr>
                    <td colspan="7">Không có xét nghiệm được thực hiện</td>
                </tr>
                {% endif %}
            {% elif encounter.encounter_storage == 'hapi' %}
                {% if services %}
                    {% for service in services %}
                    <tr onclick="displayToggle('{{service.service_identifier}}')">
                        <td>{{service.service_identifier}}</td>
                        <td>{{service.service_code}}</td>
                        <td>{{service.service_status}}</td>
                        <td>{{service.service_occurrence}}</td>
                        <td>{{service.service_authored}}</td>
                        <td>{{service.service_requester}}</td>
                        <td>{{service.service_note}}</td>
                    </tr>
                    {% endfor %}
                    {% if services_history|get_item:service.service_identifier %}
                        <button onclick="displayHistory('{{service.service_identifier}}-history')">xem lịch sử</button>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="7">Không có xét nghiệm được thực hiện</td>
                    </tr>        
                {% endif %}    
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="display-data" id="display-data" style="display: none;">
        <div class="">
            <h1>PHIẾU KẾT QUẢ XÉT NGHIỆM</h1>
            <div>
                <p>HỌ TÊN: {{patient.name}}</p>
                <p>GIỚI: {{patient.gender}}</p>
                <p>NGÀY SINH: {{patient.birthdate|date:'d-m-Y'}}</p>
                <p>ĐỊA CHỈ: {{patient.home_address}}</p>
                <p>BS CHỈ ĐỊNH: {{encounter.encounter_participant}}</p>
                <p>NGÀY GIỜ CÓ KẾT QUẢ: </p>
            </div>
        </div>
        {% for service in services %}
            <div id="display-data__{{service.service_identifier}}">
                <div class="history-container">
                    {% if observations_history %}
                        {% for observation in observations|get_item:service.service_identifier %}   
                            <div class="history" id="{{observation.observation_identifier}}-history" style="display: none;">
                                <div class="history-header">
                                    <h1>Lịch sử chỉnh sửa</h1>
                                    <i class="fa fa-times" aria-hidden="true" onclick="displayHistory('{{observation.observation_identifier}}-history')"></i>
                                </div>
                                {% for observation_history in observations_history|get_item:observation.observation_identifier %}
                                    <div>
                                        <p>Tên xét nghiệm: {{observation_history.observation_code}}</p>
                                        <p>Kết quả: {{observation_history.observation_value_quantity}}</p>
                                        <p>Trị số bình thường: {{observation_history.observation_reference_range}}</p>
                                        <p>Đơn vị: {{observation_history.observation_value_unit}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <table>
                    <thead>
                        <th>Tên xét nghiệm</th>
                        <th>Kết quả</th>
                        <th>Trị số bình thường</th>
                        <th>Đơn vị</th>
                    </thead>
                    <tr>
                        <td colspan="4"><b>{{service.service_code}}</b></td>
                    </tr>
                    <tbody>
                        {%for observation in observations|get_item:service.service_identifier %}
                        <tr>
                            <td>{{observation.observation_code}}</td>
                            <td>{{observation.observation_value_quantity}}</td>
                            <td>{{observation.observation_reference_range}}</td>
                            <td>{{observation.observation_value_unit}}</td>
                            {% if observations_history|get_item:observation.observation_identifier %}
                                <td><button onclick="displayHistory('{{observation.observation_identifier}}-history')">xem lịch sử</button></td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                <p>BÁC SĨ THỰC HIỆN: {{service.service_performer}}</p>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function displayToggle(service_identifier){
        container = document.getElementById('display-data');
        dataGroups = document.querySelectorAll('[id^="display-data__"]');
        if (container.style.display == 'none'){
            container.style.display = 'block';
            console.log(container)
            for (let i = 0; i < dataGroups.length; i++){
                if (dataGroups[i].id ==('display-data__'+service_identifier)) {
                    dataGroups[i].style.display = "block";
                }
                else{
                    dataGroups[i].style.display = 'none';
                }
            }
        }
        else {
            container.style.display = 'none';
        }
    }

    function displayHistory(element_id) {
        getElement = document.getElementById(element_id);
        if (getElement.style.display == 'none') {
            getElement.style.display = 'block';
        }
        else {
            getElement.style.display = 'none';
        }
    }
</script>
{% endblock %}