.top-menu {
    background-color: #3092f4;

}
.top-menu ul {
    list-style: none;
    display: flex;
    height: 52px;
    width: 80%;
    margin-left: 100px;
    margin-bottom: 0px;
}
.top-menu .menu .home-button{
    width: 150px;
}
.top-menu .menu .function{
    flex: 1;
}
.top-menu ul li {
    margin-left: auto;
    margin-right: auto  ;
    padding-top: 15px;
    color: white;
    font-size: large;
    display: block;
    transition: 0.3s;
    width: 500px;
}
.top-menu ul li {
    display: flex;
    width: 100%;
    height: 50px;
}

.top-menu  a{ 
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.top-menu ul li:hover {
    width: 100%; 
    background: #328be4;
}
.top-menu li  a:hover {
    color: white;
}
.dropdown{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.dropdown-content {
    width: 100%;
    margin-top: 10px;
    display: none;
    background-color: #328be4;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: auto;
    }
.dropdown a{
    text-align: center;
}
.dropdown-content a:hover {background-color: #1c74d1;}
.dropdown:hover .dropdown-content {display: block;}

html {
    height: 100%;
    font-family: Arial;
    line-height: 1.5;
}

.content{
    display: flex;
    width: 100%;
    min-height: 60vh;
    position: relative;
}
.content-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-item .title{
    min-height: 100px;
}

.content .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: aqua;
    vertical-align: bottom;
}
.content .button a{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


