.content{
    justify-content: space-evenly;
}
.tests-container{
    width: 30%;
}
.tests-container .container-body{
    width: 100%;
    min-height: 60vh;
    border: solid black 1px;
    overflow-y: scroll;
    word-break: normal;
}