.left-body{
    flex:1;
    border: 1px solid black;
}

.left-body__list{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 30px;
    margin-top: 12px;
    list-style: none;
}
.right-body{
    flex:5;
    padding: 12px 80px;
    border: 1px solid black;
    position: relative;
}