{% extends 'administration/index.html'%}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{message}}');
        </script>
    {% endfor %}
{% endif %}
<table>
    <tr>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        {% if practitioners %}
        <th></th>
        {% endif %}
    </tr>
    <tr>
        {% if practitioners %}
            {% for practitioner in practitioners %}
                <tr>
                    <td><a href="{% url 'administration:staff' practitioner.identifier">{{practitioner.identifier}}</a></td>
                    <td>{{practitioner.name}}</td>
                    <td>
                        <form action="{% url 'administration:delete' %}" method="post"> 
                            {% csrf_token %}
                            <input type="hidden" name="resource_type" value="practitioner">
                            <input type="hidden" name="resource_identifier" value="{{practitioner.identifier}}">
                            <input type="hidden" name="url_next" value="{{ request.path }}">
                            <button class="btn cancel" type="submit">Xoá</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tr>
    <tr>
        {% if practitioners %}
        <td colspan="3">
            <form action="{% url 'administration:add_staff' %}">
                <button class="btn">Thêm nhân viên</button>
            </form>
        </td>
        {% else %}
        <td colspan="2">
            <form action="{% url 'administration:add_staff' %}">
                <button class="btn">Thêm nhân viên</button>
            </form>
        </td>
        {% endif %}
    </tr>
</table>
{% endblock %}