{% extends 'fhir/doctor.html' %}
{% block doctor %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/fhir/khambenh.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/fhir/jquery.flexdatalist.min.css' %}">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static 'js/fhir/jquery.flexdatalist.min.js' %}"></script>
<script>
    $('.flexdatalist').flexdatalist({
        minLength: 1
    });
</script>
<div class="top-menu">
  <ul class="menu">
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:user_detail'  %}"><i class="fa fa-home"
                      aria-hidden="true"></i></a>
          </div>
      </li>
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:register'  %}"> Quản lí hồ sơ </a>
              <div class="dropdown-content">
                  <a href="{% url 'fhir:register'  %}">Tạo hồ sơ</a>
                  <a href="{% url 'fhir:upload'  %}">Chuyển đổi excel</a>
                  <a href="{% url 'fhir:search'  %}">Tìm kiếm hồ sơ</a>
              </div>
              <!-- #328be4; -->
          </div>
      </li>
      <li>
          <div class="dropdown">
              <a {%if request.user.role == "medical assistant" %}href="{% url 'fhir:manage_schedule' %}"{% else %}href="{% url 'fhir:schedule' %}" {% endif %}> Quản lí lịch khám </a>
              <div class="dropdown-content">
                  <a href="">TEXT</a>
                  <a href="">TEXT2</a>
              </div>
          </div>
      </li>
  </ul>
</div>
<div class="body">
    <div class="left-body">
        <ul class="left-body__list">
            <li class="left-body__list-item"><a href={%block url1%}{%endblock%}> Thông tin hành chính </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url2%}{%endblock%}> Thông tin đăng ký khám </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url3%}{%endblock%}> Thông tin hỏi bệnh </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url4%}{%endblock%}> Thông tin khám toàn thân</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url5%}{%endblock%}> Các xét nghiệm</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url6%}{%endblock%}> Chẩn đoán hình ảnh</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url7%}{%endblock%}> Thuốc</a></li>
            <hr>
            {%comment%}<li class="left-body__list-item"><a href={%block url8%}{%endblock%}> Các thủ thuật, phẫu thuật khác</a></li>
            <hr>
            {%endcomment%}
            {%block leftbar%}
            {%endblock%}
              <script>
                function openForm(element_id) {
                  document.getElementById(element_id).style.display = "block";
                }
                function closeForm(element_id) {
                  document.getElementById(element_id).style.display = "none";
                }
            </script>
            <button class="btn"  id="myButton">Lưu bản ghi</button>
            <script type="text/javascript">
              document.getElementById("myButton").onclick = function () {
                  location.href = "{% url 'fhir:save'  data.Patient.identifier data.Encounter.identifier%} ";
              };
            </script>
        </ul>
</div>
    <div class="vertical-line"></div>
    <div class="right-body">
        {%if message%}
            <script>
                alert('{{message}}');
            </script>
        {% endif %}
        {% block function %}
        {% endblock %}
    </div>
</div>

{% endblock %}
