{% extends 'fhir/doctor.html' %}
{% block doctor %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/fhir/doctor.css'%}">
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="top-menu">
  <ul class="menu">
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:user_detail' user_name group_name %}"><i class="fa fa-home"
                      aria-hidden="true"></i></a>
          </div>
      </li>
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:register' user_name group_name %}"> Quản lí hồ sơ </a>
              <div class="dropdown-content">
                  <a href="{% url 'fhir:register' user_name group_name %}">Tạo hồ sơ</a>
                  <a href="">Tạo bệnh án</a>
                  <a href="{% url 'fhir:upload' user_name group_name %}">Chuyển đổi excel</a>
                  <a href="{% url 'fhir:search' user_name group_name %}">Tìm kiếm hồ sơ</a>
              </div>
              <!-- #328be4; -->
          </div>
      </li>
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:upload' user_name group_name %}"> Quản lí lịch khám </a>
              <div class="dropdown-content">
                  <a href="">TEXT</a>
                  <a href="">TEXT2</a>
              </div>
          </div>
      </li>
      <li>
          <div class="dropdown">
              <a href="{% url 'fhir:search' user_name group_name %}"> Tim kiem ho so</a>
              <div class="dropdown-content">
                  <a href="">TEXT</a>
                  <a href="">TEXT2</a>
              </div>
          </div>
      </li>
  </ul>
</div>
<div class="body">
    <div class="left-body">
        <ul class="left-body__list">
            <li class="left-body__list-item"><a href={%block url1%}{%endblock%}> Thông tin hành chính </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url2%}{%endblock%}> Thông tin đăng ký khám </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url3%}{%endblock%}> Thông tin hỏi bệnh </a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url4%}{%endblock%}> Thông tin khám toàn thân</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url5%}{%endblock%}> Các xét nghiệm</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url6%}{%endblock%}> Các thủ thuật, phẫu thuật</a></li>
            <hr>
            <li class="left-body__list-item"><a href={%block url7%}{%endblock%}> Thuốc</a></li>
            <hr>
            {%block leftbar%}
            {%endblock%}
              <script>
                function openForm(element_id) {
                  document.getElementById(element_id).style.display = "block";
                }
                function closeForm(element_id) {
                  document.getElementById(element_id).style.display = "none";
                }
            </script>
            <button class="btn"  id="myButton">Lưu bản ghi</button>
            <script type="text/javascript">
              document.getElementById("myButton").onclick = function () {
                  location.href = "{% url 'fhir:save' group_name user_name data.Patient.identifier data.Encounter.identifier%} ";
              };
            </script>
        </ul>
</div>
    <div class="vertical-line"></div>
    <div class="right-body">
        {%if message%}
            <script>
                alert('{{message}}');
            </script>
        {% endif %}
        {% block function %}
        {% endblock %}
    </div>
</div>

{% endblock %}
