{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url5%}'{%url 'fhir:xetnghiem'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%comment%}{%block url8%}'{%url 'fhir:thuthuat'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}{%endcomment%}{%block url7%}'{%url 'fhir:thuoc'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{%block url6%}'{%url 'fhir:hinhanh'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{% load widget_tweaks %}
{%block function%}
    {% if procedure %}
        <h1>THÔNG TIN THỦ THUẬT</h1>
        {% if procedure.procedure_status == 'preparation'%}
            <form action="" method="POST">
                {%csrf_token%}
                {{procedure_form.as_p}}
                <button type="submit">Lưu lại</button>
            </form>
       
        {%elif procedure.procedure_status == 'completed'%}
            <div id="data">
                <p>Ngày thực hiện: {{procedure.procedure_performed_datetime|date:"d-m-Y H:i:s"}}</p>
                <p>Kết quả thủ thuật, phẫu thuật: {{procedure.get_procedure_outcome_display}}</p>
                <p>Các biến chứng sau thủ thuật, phẫu thuật: {{procedure.procedure_complication}}</p>
                <p>Các hướng dẫn bệnh nhân sau thủ thuật, phẫu thuật: {{procedure.procedure_follow_up}}</p>
                <p>Thiết bị thực hiện thủ thuật, phẫu thuật: {{procedure.procedure_used}}</p>
                <p>Ghi chú của bác sĩ: {{procedure.procedure_note}}</p>
            </div>
            <div id="form" style="display: none;">
                <form action="" method="POST">
                    {%csrf_token%}
                    {%with 'value:'|add:procedure.procedure_identifier as code%}
                        {{procedure_form.procedure_identifier|attr:code|attr:'type:hidden'}}
                    {%endwith%}
                    {%with 'value:'|add:procedure.procedure_outcome as code%}
                        <label for="id_procedure_outcome">Kết quả thủ thuật, phẫu thuật:</label>
                        <p>{{procedure_form.procedure_outcome|attr:code}}</p>
                    {%endwith%}
                    {%with 'value:'|add:procedure.procedure_complication as code%}
                        <label for="id_procedure_complication">Các biến chứng sau thủ thuật, phẫu thuật:</label>
                        <p>{{procedure_form.procedure_complication|attr:code}}</p>
                    {%endwith%}
                    {%with 'value:'|add:procedure.procedure_follow_up as code%}
                        <label for="id_procedure_followUp">Các hướng dẫn bệnh nhân sau thủ thuật, phẫu thuật:</label>
                        <p>{{procedure_form.procedure_follow_up|attr:code}}</p>
                    {%endwith%}
                    {%with 'value:'|add:procedure.procedure_used as code%}
                        <label for="id_procedure_focalDevice">Thiết bị thực hiện thủ thuật, phẫu thuật:</label>
                        <p>{{procedure_form.procedure_used|attr:code}}</p>
                    {%endwith%}
                    {%with 'value:'|add:procedure.procedure_note as code%}
                        <label for="id_procedure_note">Ghi chú của bác sĩ:</label>
                        <p>{{procedure_form.procedure_note|attr:code}}</p>
                    {%endwith%}
                <button type="submit">Lưu lại</button>
                </form>
            </div>
            <div class="button">
                <button id="clickButton" onclick="changeDisplay()">Chỉnh sửa</button>
            </div>
            <script>
                function changeDisplay(){
                    button = document.getElementById('clickButton');
                    data = document.getElementById('data');
                    form = document.getElementById('form');
                    console.log(button.textContent);
                    if (button.textContent == "Chỉnh sửa"){
                        data.style.display = "none";
                        form.style.display = "block";
                        button.textContent = "Hủy bỏ"
                    }
                    else{
                        data.style.display = "block";
                        form.style.display = "none";
                        button.textContent = "Chỉnh sửa"
                    }
                }
            </script>
        {%endif%}
    {% endif %}
{%endblock%}