{% extends 'fhir/index.html' %}
{% block doctor %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/doctor.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="top-menu">
    <ul class="menu">
        <li>
            <div class="dropdown">
                <a href="{% url 'fhir:user_detail'%}"><i class="fa fa-home"
                        aria-hidden="true"></i></a>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a href="{% url 'fhir:register' %}"> Quản lí hồ sơ </a>
                <div class="dropdown-content">
                    <a href="{% url 'fhir:register' %}">Tạo hồ sơ</a>
                    <a href="{% url 'fhir:upload' %}">Chuyển đổi excel</a>
                    <a href="{% url 'fhir:search' %}">Tìm kiếm hồ sơ</a>
                </div>
                <!-- #328be4; -->
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a {%if request.user.role == "medical assistant" %}href="{% url 'fhir:manage_schedule' %}"{% else %}href="{% url 'fhir:schedule' %}" {% endif %}> Quản lí lịch khám </a>
                <div class="dropdown-content">
                    <a href="">TEXT</a>
                    <a href="">TEXT2</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="content">
{%block function%}
{% endblock %}
</div>
{% endblock %}
