{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block leftbar%}
    {%if services%}
        {%for service in services%}
            {%if service.service_code%}
            <li>
                <h4><a href="{%url 'fhir:ketqua' group_name user_name data.Patient.identifier data.Encounter.identifier service.service_identifier%}">{{service.service_code}}</a></h4>
            </li>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endblock%}
{%block function%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/display.css' %}">
    {%if data%}
<div class="display-box">
    <div class="display-data">
        <h1>Thông tin bệnh nhân</h1>
        <div class="patient-data">
            <div class="text-data">
                <div class="name patient">
                    <h4 class="title">Họ và tên:</h4>
                    <h4 class="value">{{data.Patient.name}}</h4>
                </div>
                <div class="identifier patient">
                    <h4 class="title">Giới tính:</h4>
                    <h4 class="value">{{data.Patient.gender}}</h4>
                </div>
                <div class="gender patient">
                    <h4 class="title">Mã y tế:</h4>
                    <h4 class="value">{{data.Patient.identifier}}</h4>
                </div>
                <div class="birth patient">
                    <h4 class="title">Địa chỉ:</h4>
                    <h4 class="value">{{data.Patient.home_address}}</h4>
                </div>
                <div class="work patient">
                    <h4 class="title">Nơi làm việc:</h4>
                    <h4 class="value">{{data.Patient.work_address}}</h4>
                </div>
                <div class="home patient">
                    <h4 class="title">Số điện thoại:</h4>
                    <h4 class="value">{{data.Patient.telecom}}</h4>
                </div>
            </div>
        </div>
    </div>
    {%else%}
    <h1>404 Not Found</h1>
    {%endif%}
{%endblock%}