{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block leftbar%}
    {%if services%}
        {%for service in services%}
            {%if service.request_description%}
            <li><a href="{%url 'fhir:ketqua' group_name user_name data.Patient.identifier data.Encounter.id service.servicerequest_id%}">{{service.request_description}}</a></li>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endblock%}
{%block function%}
    {%if data.Condition%}
        {{data.Condition}}
    {%else%}
        <form action="" method = "POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Lưu lại</button>
        </form>
    {%endif%}
{%endblock%}