{%extends 'fhir/base.html'%}
{% load widget_tweaks %}
{%block function%}
<div>
    <h1>THÔNG TIN HỎI BỆNH</h1>
    <div>
        <h2>1. Quá trình bệnh lý</h2>
            <table>
                <thead>
                    <th class="cell-data-4">Tên triệu chứng</th>
                    <th class="cell-data-4">Ngày xuất hiện triệu chứng</th>
                    <th class="cell-data-4">Ngày hết</th>
                    <th class="cell-data-4">Mức độ</th>
                    <th></th>
                    {%if admission_conditions %}                    
                    <th></th>
                    {%endif%}
                </thead>
                {% if admission_conditions %}
                {% for condition in admission_conditions %}
                <tbody id="{{condition.condition_identifier}}-data">
                    <tr>
                        <td class="cell-data-4">{{condition.condition_code}}</td>
                        <td class="cell-data-4">{{condition.condition_onset|date:'d-m-Y'}}</td>
                        <td class="cell-data-4">{{condition.condition_abatement|date:'d-m-Y'}}</td>
                        <td class="cell-data-4">{{condition.get_condition_severity_display}}</td>
                        <td><button type="button" class="btn edit" onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                        <td>
                            <form action="{% url 'fhir:delete' %}" method="POST">
                                {%csrf_token%}
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="resource_type" id="" value="condition">
                                <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                                <input type="hidden" name="resource_identifier" value="{{condition.condition_identifier}}">
                                <button type="submit" class="btn cancel">Xóa</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                    <tr>
                        <form action="" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="classifier" id="" value="benhly">
                            <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}">
                            {%with 'value:'|add:condition.condition_code as code%}
                                <td class="cell-data-4">{{condition_form.condition_code|attr:code}}</td>
                            {%endwith%}
                            {%with condition.condition_onset|date:'Y-m-d' as condition_date%}
                            {%with 'value:'|add:condition_date as code%}
                                <td class="cell-data-4">{{condition_form.condition_onset|attr:code}}</td>
                            {%endwith%}
                            {%endwith%}
                            {%with condition.condition_abatement|date:'Y-m-d' as condition_date%}
                            {%with 'value:'|add:condition_date as code%}
                                <td class="cell-data-4">{{condition_form.condition_abatement|attr:code}}</td>
                            {%endwith%}
                            {%endwith%}                            
                            {%with 'value:'|add:condition.condition_severity as code%}
                                <td class="cell-data-4">{{condition_form.condition_severity|attr:code}}</td>
                            {%endwith%}
                            <td><button type="submit">Lưu</button></td>
                            <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>
                        </form>
                    </tr>
                </tbody>
                {% endfor %}
                {%endif%}
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="classifier" id="" value="benhly">
                        <td class="cell-data-4">{{condition_form.condition_code}}</td>
                        <td class="cell-data-4">{{condition_form.condition_onset}}</td>
                        <td class="cell-data-4">{{condition_form.condition_abatement}}</td>
                        <td class="cell-data-4">{{condition_form.condition_severity}}</td>
                        {%if admission_conditions %}
                        <td><button type="submit" class="btn">Thêm</button></td>
                        <td></td>
                        {%else%}
                        <td><button type="submit" class="btn">Thêm</button></td>
                        {%endif%}
                    </form>
                </tr>
            </table>
    </div>
    <div>
        <h2>2. Tiền sử bệnh</h2>
        <div>            
            <h3><i id="icon" class="fa fa-arrow-right" style="font-size: 18px; line-height:24px"></i> Bản thân</h3>
                <table>
                    <thead>
                        <th class="cell-data-4">Tên bệnh</th>
                        <th class="cell-data-4">Ngày mắc bệnh</th>
                        <th class="cell-data-4">Ngày hết</th>
                        <th class="cell-data-4">Mức độ</th>
                        <th></th>
                        {%if resolved_conditions%}
                        
                        <th></th>
                        {%endif%}
                    </thead>
                    {%if resolved_conditions%}
                    {% for condition in resolved_conditions %}
                    <tbody id="{{condition.condition_identifier}}-data">
                        <tr>
                            <td class="cell-data-4">{{condition.condition_code}}</td>
                            <td class="cell-data-4">{{condition.condition_onset|date:'d-m-Y'}}</td>
                            <td class="cell-data-4">{{condition.condition_abatement|date:'d-m-Y'}}</td>
                            <td class="cell-data-4">{{condition.get_condition_severity_display}}</td>
                            <td><button type="button" class="btn edit" onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                            <td>
                                <form action="{% url 'fhir:delete' %}" method="POST">
                                    {%csrf_token%}
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="resource_type" id="" value="condition">
                                    <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                                    <input type="hidden" name="resource_identifier" value="{{condition.condition_identifier}}">
                                    <button type="submit" class="btn cancel">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                    <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                        <tr>
                            <form action="" method="POST">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="classifier" id="" value="tiensubanthan">
                                <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}">
                                {%with 'value:'|add:condition.condition_code as code%}
                                    <td class="cell-data-4">{{condition_form.condition_code|attr:code}}</td>
                                {%endwith%}
                                {%with condition.condition_onset|date:'Y-m-d' as condition_date%}
                                {%with 'value:'|add:condition_date as code%}
                                    <td class="cell-data-4">{{condition_form.condition_onset|attr:code}}</td>
                                {%endwith%}
                                {%endwith%}
                                {%with condition.condition_abatement|date:'Y-m-d' as condition_date%}
                                {%with 'value:'|add:condition_date as code%}
                                    <td class="cell-data-4">{{condition_form.condition_abatement|attr:code}}</td>
                                {%endwith%}
                                {%endwith%}                            
                                {%with 'value:'|add:condition.condition_severity as code%}
                                    <td class="cell-data-4">{{condition_form.condition_severity|attr:code}}</td>
                                {%endwith%}
                                <td><button type="submit" class="btn">Lưu</button></td>
                                <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>                                
                            </form>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {%endif%}
                    <tbody>
                        <tr>
                            <form action="" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="classifier" id="" value="tiensubanthan">
                                <td class="cell-data-4">{{condition_form.condition_code}}</td>
                                <td class="cell-data-4">{{condition_form.condition_onset}}</td>
                                <td class="cell-data-4">{{condition_form.condition_abatement}}</td>
                                <td class="cell-data-4">{{condition_form.condition_severity}}</td>
                                {%if resolved_conditions%}
                                <td><button type="submit" class="btn">Thêm</button></td>
                                <td></td>
                                {%else%}
                                <td><button type="submit" class="btn">Thêm</button></td>
                                {%endif%}
                            </form>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div>
            <h3><i id="icon" class="fa fa-arrow-right" style="font-size: 18px; line-height:24px"></i> Dị ứng</h3>
                <table>
                    <thead>
                        <th class="cell-data-6">Tình trạng dị ứng</th>
                        <th class="cell-data-6">Phân loại dị ứng</th>
                        <th class="cell-data-6">Tên dị ứng</th>
                        <th class="cell-data-6">Mức độ nghiêm trọng</th>
                        <th class="cell-data-6">Thời điểm phát hiện</th>
                        <th class="cell-data-6">Thời điểm tái phát</th>
                        <th></th>
                    </thead>
                    {% for allergy in allergies %}
                        <tbody id="{{allergy.allergy_identifier}}-data">
                            <tr>
                                <td class="cell-data-6">{{allergy.get_allergy_clinical_status_display}}</td>
                                <td class="cell-data-6">{{allergy.get_allergy_category_display}}</td>
                                <td class="cell-data-6">{{allergy.allergy_code}}</td>
                                <td class="cell-data-6">{{allergy.get_allergy_criticality_display}}</td>
                                <td class="cell-data-6">{{allergy.allergy_onset|date:'d-m-Y'}}</td>
                                <td class="cell-data-6">{{allergy.allergy_last_occurrence|date:'d-m-Y'}}</td>
                                <td><button class="btn edit" type="button" onclick="toggleDisplay('{{allergy.allergy_identifier}}')">Chỉnh sửa</button></td>
                            </tr>

                            <tr>
                                <td colspan="6" style="text-align: left;">
                                    <div class="flex_container">
                                        <p class="title">Thành phần dị ứng:</p> <p>{{allergy.allergy_reaction_substance|default_if_none:"Không"}}</p>
                                    </div>
                                    <div class="flex_container">
                                        <p class="title">Phản ứng:</p> <p>{{allergy.allergy_reaction_manifestation}}</p>
                                    </div>
                                    <div class="flex_container">
                                        <p class="title">Mức độ phản ứng:</p> <p>{{allergy.get_allergy_reaction_severity_display}}</p>
                                    </div>
                                </td>
                                <td>
                                    <form action="{% url 'fhir:delete' %}" method="POST">
                                        {%csrf_token%}
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="resource_type" id="" value="allergy">
                                        <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                                        <input type="hidden" name="resource_identifier" value="{{allergy.allergy_identifier}}">
                                        <button type="submit" class="btn cancel">Xóa</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        <tbody style="display: none;" id="{{allergy.allergy_identifier}}-form">
                            <form action="" method="POST">
                                <tr>
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <input type="hidden" name="classifier" id="" value="diung">
                                    <input type="hidden" name="allergy_identifier" value="{{allergy.allergy_identifier}}">
                                    {%with 'value:'|add:allergy.allergy_clinical_status as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_clinical_status|attr:code}}</td>
                                    {%endwith%}
                                    {%with 'value:'|add:allergy.allergy_category as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_category|attr:code}}</td>
                                    {%endwith%}                            
                                    {%with 'value:'|add:allergy.allergy_code as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_code|attr:code}}</td>
                                    {%endwith%}                        
                                    {%with 'value:'|add:allergy.allergy_criticality as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_criticality|attr:code}}</td>
                                    {%endwith%}                                            
                                    {%with allergy.allergy_onset|date:'Y-m-d' as allergy_date%}
                                    {%with 'value:'|add:allergy_date as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_onset|attr:code}}</td>
                                    {%endwith%}
                                    {%endwith%}
                                    {%with allergy.allergy_last_occurrence|date:'Y-m-d' as allergy_date%}
                                    {%with 'value:'|add:allergy_date as code%}
                                        <td class="cell-data-6">{{allergy_form.allergy_last_occurrence|attr:code}}</td>
                                    {%endwith%}
                                    {%endwith%}                                                                                                                              
                                    <td><button type="submit" class="btn">Lưu</button></td>                                        
                                </tr>
                                <tr>
                                    <td colspan="6" style="text-align: left;">
                                        {%with 'value:'|add:allergy.allergy_reaction_substance as code%}
                                        <div class="flex_container">
                                            <p class="title">Thành phần dị ứng:</p> <p>{{allergy_form.allergy_reaction_substance|attr:code}}</p>
                                        </div>
                                        {%endwith%}
                                        {%with 'value:'|add:allergy.allergy_reaction_manifestation as code%}
                                        <div class="flex_container">
                                            <p class="title">Phản ứng:</p> <p>{{allergy_form.allergy_reaction_manifestation|attr:code}}</p>
                                        </div>
                                        {%endwith%}
                                        {%with 'value:'|add:allergy.allergy_reaction_severity as code%}
                                        <div class="flex_container">
                                            <p class="title">Mức độ phản ứng:</p> <p>{{allergy_form.allergy_reaction_severity|attr:code}}</p>
                                        </div>
                                        {%endwith%}  
                                    </td>
                                    <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{allergy.allergy_identifier}}')">Hủy</button></td>
                                </tr>
                            
                            </form>
                       </tbody>
                    {% endfor %}
                    <form action="" method="POST">
                        <tbody>
                            <tr>
                                {% csrf_token %}
                                <input type="hidden" name="classifier" id="" value="diung">
                                <td class="cell-data-6">{{allergy_form.allergy_clinical_status}}</td>
                                <td class="cell-data-6">{{allergy_form.allergy_category}}</td>
                                <td class="cell-data-6">{{allergy_form.allergy_code}}</td>
                                <td class="cell-data-6">{{allergy_form.allergy_criticality}}</td>
                                <td class="cell-data-6">{{allergy_form.allergy_onset}}</td>
                                <td class="cell-data-6">{{allergy_form.allergy_last_occurrence}}</td>                            
                                <td rowspan="2"><button type="submit" class="btn">Thêm</button></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: left;">
                                    <div class="flex_container">
                                        <p class="title">Thành phần dị ứng:</p> <p>{{allergy_form.allergy_reaction_substance}}</p>
                                    </div>
                                    <div class="flex_container">
                                        <p class="title">Phản ứng:</p> <p>{{allergy_form.allergy_reaction_manifestation}}</p>
                                    </div>
                                    <div class="flex_container">
                                        <p class="title">Mức độ phản ứng:</p> <p>{{allergy_form.allergy_reaction_severity}}</p>
                                    </div>
                                </td>    
                            </tr>
                        </tbody>
                    </form>
                </table>            
        </div>
        <div>
            <h3><i id="icon" class="fa fa-arrow-right" style="font-size: 18px; line-height:24px"></i> Gia đình</h3>
        </div>
    </div>    
</div>
<script>
    function toggleDisplay(elementId){
        data = document.getElementById(elementId + '-data');
        form = document.getElementById(elementId + '-form');
        if (data.style.display == 'none'){
            data.style.display = "table-row-group";
            form.style.display = "none";
        }
        else{
            data.style.display = "none";
            form.style.display = "table-row-group";
        }
    }
</script>
{%endblock%}