<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>FHIR Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fhir/index.css'%}">
</head>
<body>
    <div class="header">
        <div class="left-header">
            <img src="{% static 'img/logo.png'%}" alt="logo-bach-khoa">
            <h3> FHIR WEBSITE</h3>
        </div>
    </div>

    <div class="body">
        {% block doctor %}
        {% endblock %}
        {% block patient %}
        {% endblock %}
    </div>
    
    <div class="footer">

    </div>
</body>
</html>