{% extends 'fhir/doctor.html' %}
{% block function %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/manage_tests.css' %}">
<div class="tests-container">
    <form action="" method="post" id="draft_form">
        <input type="hidden" name="submit_type" id="draft_submit" value="forward">
        <input type="hidden" name="service_type" id="" value="draft">
        {% csrf_token %}
        <p><b>Danh sách chờ xét nghiệm</b></p>
        <div class="container-body">
            {% for service in draft_services %}            
                <p><input type="radio" name="draft_service_identifier" id="draft_{{service.service_identifier}}" value="{{service.service_identifier}}" required><label for="draft_{{service.service_identifier}}" style="display: inline;">{{service.service_code}} - {{service.encounter_identifier.patient.name}} - {{service.encounter_identifier.patient.identifier}}</label></p>
            {% endfor %}
        </div>
    {% if draft_services %}        
    <button type="submit" style="margin-top : 10px" class="btn">Tiếp nhận</button>
    {% else %}
    <button disabled="disabled" style="margin-top: 10px;" class="btn">Tiếp nhận</button>
    {% endif %}
    </form>
</div>
<div class="tests-container">
    <form action="" method="post" id="in_progress_form">
        {% csrf_token %}
        <input type="hidden" name="submit_type" id="in_progress_submit" value="forward">
        <input type="hidden" name="service_type" id="" value="in_progress">
        <p><b>Danh sách chờ kết quả</b></p>
        <div class="container-body">
            {% for service in in_progress_services %}
                <p><input type="radio" name="in_progress_service_identifier" id="in_progress_service_input" value="{{service.service_identifier}}" required><label for="in_progress_{{service.service_identifier}}" style="display: inline;"><a href="{% url 'fhir:chitietxetnghiem' service.encounter_identifier.patient.identifier service.encounter_identifier.encounter_identifier service.service_identifier %}">{{service.service_code}} - {{service.encounter_identifier.patient.name}} - {{service.encounter_identifier.patient.identifier}}</a></label></p>
            {% endfor %}
        </div>
    {% if in_progress_services %}
    <button type="button" id="in_progress_reverse" style="margin: 10px;" class="btn">Hoàn tác</button>
    <button type="button" id="in_progress_forward" style="margin: 10px;" class="btn">Hoàn tất</button>
    {% else %}
    <button type="button" id="in_progress_reverse" style="margin: 10px;" class="btn" disabled="disabled">Hoàn tác</button>
    <button type="button" id="in_progress_forward" style="margin: 10px;" class="btn" disabled="disabled">Hoàn tất</button>
    {% endif %}
    </form>
</div>
<div class="tests-container">
    <form action="" method="post" id="completed_form">
        {% csrf_token %}
        <input type="hidden" name="submit_type" value="reverse">
        <input type="hidden" name="service_type" id="" value="completed">
        <p><b>Danh sách xét nghiệm hoàn tất</b></p>
        <div class="container-body">
            {% for service in completed_services %}
                <p><input type="radio" name="completed_service_identifier" id="completed_service_input" value="{{service.service_identifier}}" required><label for="completed_{{service.service_identifier}}" style="display: inline;"><a href="{% url 'fhir:chitietxetnghiem' service.encounter_identifier.patient.identifier service.encounter_identifier.encounter_identifier service.service_identifier %}">{{service.service_code}} - {{service.encounter_identifier.patient.name}} - {{service.encounter_identifier.patient.identifier}}</a></label></p>
            {% endfor %}
        </div>
    {% if completed_services %}
    <button style="margin: 10px;" class="btn">Hoàn tác</button>
    {% else %}
    <button style="margin: 10px;" class="btn" disabled="disabled">Hoàn tác</button>
    {% endif %}
    </form>
</div>
<script>
    var inProgressForm = document.getElementById('in_progress_form');
    document.getElementById('in_progress_reverse').onclick = function() {
        submitType = document.getElementById('in_progress_submit');
        submitType.value = "reverse";
        inProgressServiceInputs = document.getElementsByName('in_progress_service_identifier');
        isInputChecked = false;
        for (let i = 0; i < inProgressServiceInputs.length; i++){
            if (inProgressServiceInputs[i].checked == true){
                isInputChecked = true;
            }
        }
        if (isInputChecked == false){
            alert('Không có xét nghiệm được chọn !');
        }
        else{
            inProgressForm.submit()
        }
    }
    document.getElementById('in_progress_forward').onclick = function() {
        inProgressServiceInputs = document.getElementsByName('in_progress_service_identifier');
        isInputChecked = false;
        for (let i = 0; i < inProgressServiceInputs.length; i++){
            if (inProgressServiceInputs[i].checked == true){
                isInputChecked = true;
            }
        }
        if (isInputChecked == false){
            alert('Không có xét nghiệm được chọn !');
        }
        else{
            inProgressForm.submit()
        }        
    }

    document.getElementById()
</script>
{% endblock %}