{% extends 'fhir/index.html' %}
{% block patient %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/doctor.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="top-menu">
    <ul class="menu">
        <li><a href="{% url 'fhir:user_detail'  group_name user_name %}"><i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
        <li><a href="{% url 'fhir:patient-view'  group_name user_name %}"> Xem hồ sơ </a></li>
        <li><a href=""> Cập nhật thông tin </a></li>
        <li><a href="{% url 'fhir:search'  group_name user_name %}"> Tim kiem ho so</a></li>
    </ul>
</div>

<div class="body">
    <div class="left-body">
        <ul>
            <li><a href=""> Func1 </a></li>
            <li><a href=""> Func2 </a></li>
            <li><a href=""> Func3 </a></li>
        </ul>
    </div>
    <div class="verticle-line"></div>
    <div class="right-body">
        {%if message%}
        <script>
            alert('{{message}}');
        </script>
        {% endif %}
        {% block function %}
        {% endblock %}
    </div>
</div>

{% endblock %}