{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url5%}'{%url 'fhir:xetnghiem' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%comment%}{%block url8%}'{%url 'fhir:thuthuat' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}{%endcomment%}{%block url7%}'{%url 'fhir:thuoc' group_name user_name data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{%block url6%}'{%url 'fhir:hinhanh' group_name user_name data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{% load widget_tweaks %}
{%block function%}
<h1>KẾT QUẢ</h1>
<div>
    <h2>+ Bệnh chính</h2>
        <div>
            <table>
                <th>Tên bệnh</th>
                <th>Mức độ</th>
                {% for condition in discharge_conditions %}
                <tbody id="{{condition.condition_identifier}}-data">
                    <tr>
                        <td>{{condition.condition_code}}</td>
                        <td>{{severity|get_item:condition.condition_severity}}</td>
                        <td><button onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                    </tr>
                </tbody>
                <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                    <tr>
                        <form action="" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="classifier" id="" value="discharge">
                            <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}">
                            {%with 'value:'|add:condition.condition_code as code%}
                                <td>{{condition_form.condition_code|attr:code}}</td>
                            {%endwith%}
                            {%with 'value:'|add:condition.condition_severity as code%}
                                <td>{{condition_form.condition_severity|attr:code}}</td>
                            {%endwith%}
                            <td><button type="submit">Lưu</button></td>
                            <td><button type="button" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>
                        </form>
                    </tr>
                </tbody>
                {% endfor %}
                <tr>
                    <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="classifier" id="" value="discharge">
                        <td>{{condition_form.condition_code}}</td>
                        <td>{{condition_form.condition_severity}}</td>
                        <td><button type="submit" onclick="toggleDisplay('{{condition.condition_identifier}}')">Thêm</button></td>
                    </form>
                </tr>
            </table>
        </div>
    <h2>+ Bệnh kèm theo</h2>
    <div>
        <table>
            <th>Tên bệnh</th>
            <th>Mức độ</th>
            {% for condition in comorbidity_conditions %}
            <tbody id="{{condition.condition_identifier}}-data">
                <tr>
                    <td>{{condition.condition_code}}</td>
                    <td>{{severity|get_item:condition.condition_severity}}</td>
                    <td><button type="button" onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                </tr>
            </tbody>
            <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                <tr>
                    <form action="" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="classifier" id="" value="comorbidity">
                        <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}">
                        {%with 'value:'|add:condition.condition_code as code%}
                            <td>{{condition_form.condition_code|attr:code}}</td>
                        {%endwith%}
                        {%with 'value:'|add:condition.condition_severity as code%}
                            <td>{{condition_form.condition_severity|attr:code}}</td>
                        {%endwith%}
                        <td><button type="submit">Lưu</button></td>
                        <td><button type="button" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>                        
                    </form>
                </tr>
            </tbody>
            {% endfor %}
            <tr>
                <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="classifier" id="" value="comorbidity">
                    <td>{{condition_form.condition_code}}</td>
                    <td>{{condition_form.condition_severity}}</td>
                    <td><button type="submit">Thêm</button></td>
                </form>
            </tr>
        </table>
    </div>
</div>
<h1>THUỐC</h1>
<table>
    <thead>
        <th>Thuốc</th>
        <th>Lý do dùng thuốc</th>
        <th>Bắt đầu dùng thuốc từ</th>
        <th>Tần suất dùng thuốc</th>
        <th>Liều dùng</th>
        <th>Thời gian sử dụng</th>
        <th>Đường dùng</th>
        <th>Ngày chỉ định</th>
    </thead>
    
    {% if medications %}
    
        {% for medication in medications %}
            <tbody id="{{medication.medication_identifier}}-data">
                <tr>
                    <td>{{medication.medication_medication}}</td>
                    <td>{{medication.medication_reason_code}}</td>
                    <td>{{medication.medication_effective|date:"d-m-Y"}}</td>
                    <td>{{medication.dosage_frequency}}/{{medication.dosage_period}} {{unit|get_item:medication.dosage_period_unit}}</td>
                    <td>{{medication.dosage_quantity}}</td>
                    <td>{{medication.dosage_duration}} {{unit|get_item:medication.dosage_duration_unit}}</td>
                    <td>{{medication.dosage_route}}</td>
                    <td>{{medication.medication_date_asserted|date:"d-m-Y"}}</td>
                </tr>
                <tr>
                    <td colspan="8">
                        <p>Thời điểm sử dụng: {{when|get_item:medication.dosage_when|capfirst}} {%if medication.dosage_offset != '0'%}{{medication.dosage_offset}} phút{%endif%}</p>
                        <p>Hướng dẫn thêm: {{medication.dosage_additional_instruction}}</p>
                        <p>Hướng dẫn đặc biệt: {{medication.dosage_patient_instruction}}</p>
                    </td>
                </tr>
                <td colspan="8"><button class="submit-button" onclick="toggleDisplay('{{medication.medication_identifier}}')">Chỉnh sửa</button></td>
            </tbody>
            <tbody id="{{medication.medication_identifier}}-form" style="display: none;">   
                <form action="" method="POST" >
                    <tr>
                        <input type="hidden" name="classifier" id="" value="medication">
                        <input type="hidden" name="medication_identifier" value="{{medication.medication_identifier}}">
                        {%csrf_token%}

                        {%with 'value:'|add:medication.medication_medication as code%}
                            <td>{{medication_form.medication_medication|attr:code}}</td>
                        {%endwith%}
                    
                        {%with 'value:'|add:medication.medication_reason_code as code%}   
                            <td>{{medication_form.medication_reason_code|attr:code}}</td>
                        {%endwith%}
                    
                        {%with medication.medication_effective|date:'Y-m-d' as effective_date%}
                            {%with 'value:'|add:effective_date as code%}        
                                <td>{{medication_form.medication_effective|attr:code}}</td>
                            {%endwith%}
                        {%endwith%}

                        <td>
                            {%with 'value:'|add:medication.dosage_frequency as code%}
                        
                                {{medication_form.dosage_frequency|attr:code}}
                            
                            {%endwith%}
                                <br>
                                /
                                <br>
                            {%with 'value:'|add:medication.dosage_period as code%}               
                                {{medication_form.dosage_period|attr:code}}
                                <br>
                                {{medication_form.dosage_period_unit}}
                            {%endwith%}
                        </td>

                        {%with 'value:'|add:medication.dosage_quantity as code%}
                            <td>{{medication_form.dosage_quantity|attr:code}}</td>
                        {%endwith%}

                        {%with 'value:'|add:medication.dosage_duration as code%}         
                            <td>
                                {{medication_form.dosage_duration|attr:code}}
                                <br>
                                {{medication_form.dosage_duration_unit}}
                            </td>
                        {%endwith%}



                        {%with 'value:'|add:medication.dosage_route as code%}
                            <td>{{medication_form.dosage_route|attr:code}}</td>
                        {%endwith%}
                        <td><button type="submit">Lưu</button></td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            {%with 'value:'|add:medication.dosage_when as code%}                
                                <p>Thời điểm dùng thuốc: {{medication_form.dosage_when|attr:code}}
                            {%endwith%}
                
                            {%with 'value:'|add:medication.dosage_offset as code%}               
                                {{medication_form.dosage_offset|attr:code}} phút</p>
                            {%endwith%}

                            {%with 'value:'|add:medication.dosage_additional_instruction as code%}
                                <p>Hướng dẫn thêm: {{medication_form.dosage_additional_instruction|attr:code}}</p>
                            {%endwith%}

                            {%with 'value:'|add:medication.dosage_patient_instruction as code%}
                                <p>Hướng dẫn đặc biệt: {{medication_form.dosage_patient_instruction|attr:code}}</p>
                            {%endwith%}
                        </td>
                        <td><button type="button" onclick="toggleDisplay('{{medication.medication_identifier}}')">Hủy</button></td>
                    </tr>
                </form>
            </tbody>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        <input type="hidden" name="classifier" id="" value="medication">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <tr>
            <td>{{medication_form.medication_medication}}</td>
            <td>{{medication_form.medication_reason_code}}</td>
            <td>{{medication_form.medication_effective}}</td>
            <td>
            {{medication_form.dosage_frequency}}
            <br>
            / 
            <br>
            {{medication_form.dosage_period}} {{medication_form.dosage_period_unit}}
            </td>
            <td>{{medication_form.dosage_quantity}}</td>
            <td>{{medication_form.dosage_duration}} {{medication_form.dosage_duration_unit}}</td>
            <td>{{medication_form.dosage_route}}</td>
            <td rowspan="2"><button type="submit">Thêm Thuốc</button></td>
        </tr>
        <tr>
            <td colspan="7">
                <p>Thời điểm dùng thuốc: {{medication_form.dosage_when}} {{medication_form.dosage_offset}} phút</p>
                <p>Hướng dẫn thêm: {{medication_form.dosage_additional_instruction}}</p>
                <p>Hướng dẫn đặc biệt: {{medication_form.dosage_patient_instruction}}</p>       
            </td>
        </tr>
    </form>
</table>
{% comment %}
<div>
    <div class="formPopup" id="thuocForm">
        <div class="formContainer">
            <form action="" method="POST">
                {%csrf_token%}
                {{medication_form.medication_medication.label}}: {{medication_form.medication_medication}}
                <br>
                {{medication_form.medication_reason_code.label}}: {{medication_form.medication_reason_code}}
                <br>
                {{medication_form.medication_effective.label}}: {{medication_form.medication_effective}}
                <br>
                {{medication_form.dosage_frequency.label}}: {{medication_form.dosage_frequency}}
                <br>
                {{medication_form.dosage_period.label}}: {{medication_form.dosage_period}} {{medication_form.dosage_period_unit}}
                <br>
                {{medication_form.dosage_duration.label}}: {{medication_form.dosage_duration}} {{medication_form.dosage_duration_unit}}
                <br>
                {{medication_form.dosage_route.label}}: {{medication_form.dosage_route}}
                <br>
                {{medication_form.dosage_quantity.label}}: {{medication_form.dosage_quantity}}
                <br>
                {{medication_form.dosage_when.label}}: {{medication_form.dosage_when}}
                <br>
                {{medication_form.dosage_offset.label}}: {{medication_form.dosage_offset}}
                <br>
                {{medication_form.dosage_additional_instruction.label}}: {{medication_form.dosage_additional_instruction}}
                <br>
                {{medication_form.dosage_patient_instruction.label}}: {{medication_form.dosage_patient_instruction}}
                <br>
                <button type="submit" class="btn">Add</button>
                <button type="button" class="btn cancel" onclick="closeForm('thuocForm')">Close</button>
            </form>
        </div>
    </div>
</div>
{% endcomment %}
<script>
    function whenFunction(){
        var select = document.getElementById('id_dosage_when');
        console.log(select);
        var value = select.getAttribute('value');
        console.log(value);
    }
    function toggleDisplay(elementId){
        data = document.getElementById(elementId + '-data');
        form = document.getElementById(elementId + '-form');
        if (data.style.display == 'none'){
            data.style.display = 'table-row-group';
            form.style.display = 'none';
        }
        else {
            data.style.display = 'none';
            form.style.display = 'table-row-group';
        }
    }
</script>
{%endblock%}