{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url5%}'{%url 'fhir:xetnghiem'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%comment%}{%block url8%}'{%url 'fhir:thuthuat'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}{%endcomment%}{%block url7%}'{%url 'fhir:thuoc'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{%block url6%}'{%url 'fhir:hinhanh'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{% load widget_tweaks %}
{%block function%}
<h1>KẾT QUẢ</h1>
<div>
    <h2>1. Bệnh chính</h2>
        <div>
            <table>
                <th class="cell-data-2">Tên bệnh</th>
                <th class="cell-data-2">Mức độ</th>
                <th></th>
                {%if discharge_conditions.all %}
                <th></th>
                {% endif %}
                {% for condition in discharge_conditions %}
                <tbody id="{{condition.condition_identifier}}-data">
                    <tr>
                        <td class="cell-data-2">{% for condition in condition_displays|get_item:condition_code %}{{condition.condition_name}} {% endfor %}</td>
                        <td class="cell-data-2">{{condition.get_condition_severity_display}}</td>
                        <td><button class="btn edit" onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                        <td>
                            <form action="{% url 'fhir:delete' %}" method="POST">
                                {%csrf_token%}
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="resource_type" id="" value="condition">
                                <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                                <input type="hidden" name="resource_identifier" value="{{condition.condition_identifier}}">
                                <button type="submit" class="btn cancel">Xóa</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                    <tr>
                        <form action="" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="classifier" id="" value="discharge">
                            <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}" data-text-property='value' data-value-property='value' class='flexdatalist' data-min-length='1' multiple='multiple'>
                            {%with 'value:'|add:condition.condition_code as code%}
                                <td class="cell-data-2">
                                    <input list="discharge_diseases" name="condition_code" value="{{condition.condition_code}}">
                                    <datalist id="discharge_diseases">
                                        {% for disease in discharge_diseases %}
                                            <option value="{{disease.disease_code}}">{{disease.disease_search}}</option>
                                        {% endfor %}
                                    </datalist>
                                </td>
                            {%endwith%}
                            {%with 'value:'|add:condition.condition_severity as code%}
                                <td class="cell-data-2">{{condition_form.condition_severity|attr:code}}</td>
                            {%endwith%}
                            <td><button type="submit" class="btn">Lưu</button></td>
                            <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>
                        </form>
                    </tr>
                </tbody>
                {% endfor %}
                    
                <tr>
                    <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="classifier" id="" value="discharge">
                        <td class="cell-data-2">
                            <input list="discharge_diseases" name="condition_code" id="discharge_disease" data-text-property='value' data-value-property='value' class='flexdatalist' data-min-length='1' multiple='multiple'>
                            <datalist id="discharge_diseases">
                                {% for disease in discharge_diseases %}
                                    <option value="{{disease.disease_code}}">{{disease.disease_search}}</option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td class="cell-data-2">{{condition_form.condition_severity}}</td>
                        <td><button type="submit" class="btn">Thêm</button></td>
                        {% if discharge_conditions.all %}
                            <td></td>
                        {%endif%}
                    </form>
                </tr>
            </table>
        </div>
    <h2>2. Bệnh kèm theo</h2>
    <div>
        <table>
            <th class="cell-data-2">Tên bệnh</th>
            <th class="cell-data-2">Mức độ</th>
            <th></th>
            {%if comorbidity_conditions.all %}
            <th></th>
            {% endif %}
            {% for condition in comorbidity_conditions %}
            <tbody id="{{condition.condition_identifier}}-data">
                <tr>
                    <td class="cell-data-2">{{condition.condition_code}}</td>
                    <td class="cell-data-2">{{condition.get_condition_severity_display}}</td>
                    <td><button type="button" class="btn edit" onclick="toggleDisplay('{{condition.condition_identifier}}')">Chỉnh sửa</button></td>
                    <td>
                        <form action="{% url 'fhir:delete' %}" method="POST">
                            {%csrf_token%}
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="resource_type" id="" value="condition">
                            <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                            <input type="hidden" name="resource_identifier" value="{{condition.condition_identifier}}">
                            <button type="submit" class="btn cancel">Xóa</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tbody style="display: none;" id="{{condition.condition_identifier}}-form">
                <tr>
                    <form action="" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="classifier" id="" value="comorbidity">
                        <input type="hidden" name="condition_identifier" value="{{condition.condition_identifier}}">
                        {%with 'value:'|add:condition.condition_code as code%}
                            <input list="comorbidity_diseases" name="condition_code" id="comorbidity_disease" data-text-property='value' data-value-property='value' class='flexdatalist' data-min-length='1' multiple='multiple'> 
                            <datalist id="comorbidity_diseases">
                                {% for disease in discharge_diseases %}
                                    <option value="{{disease.disease_code}}">{{disease.disease_search}}</option>
                                {% endfor %}
                            </datalist>
                        {%endwith%}
                        {%with 'value:'|add:condition.condition_severity as code%}
                            <td class="cell-data-2">{{condition_form.condition_severity|attr:code}}</td>
                        {%endwith%}
                        <td><button type="submit" class="btn">Lưu</button></td>
                        <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{condition.condition_identifier}}')">Hủy</button></td>                        
                    </form>
                </tr>
            </tbody>
            {% endfor %}
            <tr>
                <form action="" method="POST">
                {% csrf_token %}
                    <td>
                        <input type="hidden" name="classifier" id="" value="comorbidity">
                        <input list="comorbidity_diseases" name="condition_code" id="comorbidity_disease" data-text-property='value' data-value-property='value' class='flexdatalist' data-min-length='1' multiple='multiple'>
                        <datalist id="comorbidity_diseases"  onchange="test('comorbidity_disease')">
                            {% for disease in discharge_diseases %}
                                <option value="{{disease.disease_code}}">{{disease.disease_search}}</option>
                            {% endfor %}
                        </datalist>
                    </td>
                    <td class="cell-data-2">{{condition_form.condition_severity}}</td>
                    <td><button type="submit" class="btn">Thêm</button></td>
                </form>
            </tr>
        </table>
    </div>
</div>
<h1>THUỐC</h1>
<table>
    <thead>
        <th class="cell-data-6">Thuốc</th>
        <th class="cell-data-6">Lý do dùng thuốc</th>
        {%comment%}<th class="cell-data-8">Bắt đầu dùng thuốc từ</th>{%endcomment%}
        <th class="cell-data-6">Tần suất dùng thuốc</th>
        <th class="cell-data-6">Liều dùng</th>
        <th class="cell-data-6">Thời gian sử dụng</th>
        <th class="cell-data-6">Đường dùng</th>
        <th></th>
        {%comment%}<th class="cell-data-8">Ngày chỉ định</th>{%endcomment%}
    </thead>
    
    {% if medications %}
    
        {% for medication in medications %}
            <tbody id="{{medication.medication_identifier}}-data">
                <tr>
                    <td class="cell-data-6">{{medication.medication_medication}}</td>
                    <td class="cell-data-6">{{medication.medication_reason_code}}</td>
                    <td class="cell-data-6">{{medication.dosage_frequency}}/{{medication.dosage_period}} {{medication.get_dosage_period_unit_display}}</td>
                    <td class="cell-data-6">{{medication.dosage_quantity}}</td>
                    <td class="cell-data-6">{{medication.dosage_duration}} {{medication.get_dosage_duration_unit_display}}</td>
                    <td class="cell-data-6">{{medication.dosage_route}}</td>
                    <td><button class="submit-button btn edit" onclick="toggleDisplay('{{medication.medication_identifier}}')">Chỉnh sửa</button></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: left;">
                        <div class="flex_container">
                            <p class="title">Thời điểm sử dụng:</p> <p>{{medication.get_dosage_when_display|capfirst}} {%if medication.dosage_offset != '0'%}{{medication.dosage_offset}} phút{%endif%}</p>
                        </div>
                        <div class="flex_container">
                            <p class="title">Hướng dẫn thêm:</p> <p>{{medication.dosage_additional_instruction}}</p>
                        </div>
                        <div class="flex_container">
                            <p class="title">Hướng dẫn đặc biệt:</p> <p>{{medication.dosage_patient_instruction}}</p>
                        </div>
                    </td>
                    <td>
                        <form action="{% url 'fhir:delete' %}" method="POST">
                            {%csrf_token%}
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="resource_type" id="" value="medication_statement">
                            <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                            <input type="hidden" name="resource_identifier" value="{{medication.medication_identifier}}">
                            <button type="submit" class="btn cancel">Xóa</button>
                        </form>
                    </td>
                </tr>
                
            </tbody>
            <tbody id="{{medication.medication_identifier}}-form" style="display: none;">   
                <form action="" method="POST" >
                    <tr>
                        <input type="hidden" name="classifier" id="" value="medication">
                        <input type="hidden" name="medication_identifier" value="{{medication.medication_identifier}}">
                        {%csrf_token%}
                        <td class="cell-data-6">
                        <input list="medicines" name="medication_medication" id="medication_medication" onchange="test('medication_medication')" value="{{medication.medication_medication}}">
                        <datalist id="medicines"  >
                            {% for medicine in medicines %}
                                <option value="{{medicine.medicine_name}}">{{medicine.medicine_name}}</option>
                            {% endfor %}
                        </datalist>         
                        </td>
                        {%with 'value:'|add:medication.medication_reason_code as code%}   
                            <td class="cell-data-6">{{medication_form.medication_reason_code|attr:code}}</td>
                        {%endwith%}
                        <td class="cell-data-6">
                            {%with 'value:'|add:medication.dosage_frequency as code%}
                        
                                {{medication_form.dosage_frequency|attr:code}}
                            
                            {%endwith%}
                                <br>
                                /
                                <br>
                            {%with 'value:'|add:medication.dosage_period as code%}               
                                {{medication_form.dosage_period|attr:code}}
                                <br>
                                {{medication_form.dosage_period_unit}}
                            {%endwith%}
                        </td>

                        {%with 'value:'|add:medication.dosage_quantity as code%}
                            <td class="cell-data-6">{{medication_form.dosage_quantity|attr:code}}</td>
                        {%endwith%}

                        {%with 'value:'|add:medication.dosage_duration as code%}         
                            <td class="cell-data-6">
                                {{medication_form.dosage_duration|attr:code}}
                                <br>
                                {{medication_form.dosage_duration_unit}}
                            </td>
                        {%endwith%}



                        {%with 'value:'|add:medication.dosage_route as code%}
                            <td class="cell-data-6">{{medication_form.dosage_route|attr:code}}</td>
                        {%endwith%}
                        <td><button type="submit" class="btn">Lưu</button></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            {%with 'value:'|add:medication.dosage_when as code%}    
                            <div class="flex_container">
                                <p class="title">Thời điểm dùng thuốc:</p> <p>{{medication_form.dosage_when|attr:code}}
                            {%endwith%}
                
                            {%with 'value:'|add:medication.dosage_offset as code%}               
                                {{medication_form.dosage_offset|attr:code}} phút</p>
                            {%endwith%}
                            </div>            
                            <div class="flex_container">
                            {%with 'value:'|add:medication.dosage_additional_instruction as code%}
                                <p>Hướng dẫn thêm:</p> <p>{{medication_form.dosage_additional_instruction|attr:code}}</p>
                            {%endwith%}
                            </div>
                            <div class="flex_container">
                            {%with 'value:'|add:medication.dosage_patient_instruction as code%}
                                <p>Hướng dẫn đặc biệt:</p> <p>{{medication_form.dosage_patient_instruction|attr:code}}</p>
                            {%endwith%}
                            </div>
                        </td>
                        <td><button type="button" class="btn cancel" onclick="toggleDisplay('{{medication.medication_identifier}}')">Hủy</button></td>
                    </tr>
                </form>
            </tbody>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        <input type="hidden" name="classifier" id="" value="medication">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <tr>
            <td class="cell-data-6">
                <input list="medicines" name="medication_medication" id="medication_medication">
                <datalist id="medicines"  onchange="test('medication_medication')">
                    {% for medicine in medicines %}
                        <option value="{{medicine.medicine_name}}">{{medicine.medicine_name}}</option>
                    {% endfor %}
                </datalist>
            <td class="cell-data-6">{{medication_form.medication_reason_code}}</td>
            {%comment%}<td class="cell-data-8">{{medication_form.medication_effective}}</td>{%endcomment%}
            <td class="cell-data-6">
            {{medication_form.dosage_frequency}}
            <br>
            / 
            <br>
            {{medication_form.dosage_period}}
            <br>
            <br>
            {{medication_form.dosage_period_unit}}
            </td>
            <td class="cell-data-6">{{medication_form.dosage_quantity}}</td>
            <td class="cell-data-6">{{medication_form.dosage_duration}} <br><br>{{medication_form.dosage_duration_unit}}</td>
            <td class="cell-data-6">{{medication_form.dosage_route}}</td>
            <td rowspan="2"><button type="submit" class="btn">Thêm Thuốc</button></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: left;">
                <div class="flex_container">
                    <p class="title">Thời điểm dùng thuốc:</p> <p>{{medication_form.dosage_when}} {{medication_form.dosage_offset}} phút</p>
                </div>
                <div class="flex_container">
                    <p class="title">Hướng dẫn thêm:</p> <p>{{medication_form.dosage_additional_instruction}}</p>
                </div>
                <div class="flex_container">
                    <p class="title">Hướng dẫn đặc biệt:</p> <p>{{medication_form.dosage_patient_instruction}}</p>       
                </div>
            </td>
        </tr>
    </form>
</table>

<script>
    // Find all inputs on the DOM which are bound to a datalist via their list attribute.
    var inputs = document.querySelectorAll('input[list]');
    for (var i = 0; i < inputs.length; i++) {
    // When the value of the input changes…
    inputs[i].addEventListener('change', function() {
        var optionFound = false,
        datalist = this.list;
        // Determine whether an option exists with the current value of the input.
        for (var j = 0; j < datalist.options.length; j++) {
            if (this.value == datalist.options[j].value) {
                optionFound = true;
                break;
            }
        }
        // use the setCustomValidity function of the Validation API
        // to provide an user feedback if the value does not exist in the datalist
        if (optionFound) {
        this.setCustomValidity('');
        } else {
        this.setCustomValidity('Please select a valid value.');
        }
    });
    }
    function whenFunction(){
        var select = document.getElementById('id_dosage_when');
        console.log(select);
        var value = select.getAttribute('value');
        console.log(value);
    }
    function toggleDisplay(elementId){
        data = document.getElementById(elementId + '-data');
        form = document.getElementById(elementId + '-form');
        if (data.style.display == 'none'){
            data.style.display = 'table-row-group';
            form.style.display = 'none';
        }
        else {
            data.style.display = 'none';
            form.style.display = 'table-row-group';
        }
    }
    function test(elementId){
        element = document.getElementById(elementId);
        console.log(element.value);
        if(element.value.includes(' ')){
            code = element.value.split(' ')[-1];
        }
    }
</script>
{%endblock%}