{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan' group_name user_name data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block leftbar%}
    {%if services%}
        {%for service in services%}
            {%if service.service_code%}
            <li>
            <h4><a href="{%url 'fhir:ketqua' group_name user_name data.Patient.identifier data.Encounter.identifier service.service_identifier%}">{{service.service_code}}</a></h4>
            </li>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endblock%}
{%block function%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fhir/display.css' %}">
<div class="display-box">
    <div class="display-data">
        <h1>Thông tin khám toàn thân</h1>
        <div class="patient-data">
            <div class="text-data">
                {%if observations%}
                    {%for observation in observations%}
                        <div class="patient">
                            <h4 class='title'>{{observation.observation_name}}:</h4>
                            <h4 class='value'> {{observation.observation_valuequantity}} {{observation.observation_valueunit}}</h4>
                        </div>
                    {%endfor%}
                    {%else%}
                        <form action="" method="POST">
                            {%csrf_token%}
                        <div class="patient">
                            <label for="1"><h4 class='title'>Mạch:</h4></label>
                            <h4 class='value'><input type="text" name="1" id="1"></h4>
                            <h4 style="padding-left: 15px;">Lần/phút</h4>
                        </div>
                        <div class="patient">
                            <label for="2"><h4 class='title'>Nhiệt độ:</h4></label>
                            <h4 class='value'><input type="text" name="2" id="2"></h4>
                            <h4 style="padding-left: 15px;">Cel</h4>
                        </div>
                        <div class="patient">
                            <label for="3"><h4 class='title'>Huyết áp:</h4></label>
                            <h4 class='value'><input type="text" name="3" id="3"></h4>
                            <h4 style="padding-left: 15px;">mmHg</h4>
                        </div>
                        <div class="patient">
                            <label for="4"><h4 class='title'>Nhịp thở</h4></label>
                            <h4 class='value'><input type="text" name="4" id="4"></h4>
                            <h4 style="padding-left: 15px;">Lần/phút</h4>
                        </div>
                        <div class="patient">
                            <label for="5"><h4 class='title'>Cân nặng</h4></label>
                            <h4 class='value'><input type="text" name="5" id="5"></h4>
                            <h4 style="padding-left: 15px;">Kg</h4>
                        </div>                                
                            <button type="submit" class="btn btn-success" >Lưu lại</button>
                        </form>
            {%endif%}
    </div>
    </div>
    </div>
    </div>
{%endblock%}