{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url5%}'{%url 'fhir:xetnghiem'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%block url4%}'{%url 'fhir:toanthan'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}
{%comment%}{%block url8%}'{%url 'fhir:thuthuat'  data.Patient.identifier data.Encounter.identifier%}'{%endblock%}{%endcomment%}{%block url7%}'{%url 'fhir:thuoc'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{%block url6%}'{%url 'fhir:hinhanh'  data.Patient.identifier data.Encounter.identifier %}'{%endblock%}
{%block leftbar%}
{%endblock%}
{%block function%}
{% load widget_tweaks %}
<h1>CÁC XÉT NGHIỆM</h1>
<table>
    <thead>
        <tr>
            <th class="cell-data-8">ID xét nghiệm</th>
            <th class="cell-data-8">Tên xét nghiệm</th>
            <th class="cell-data-8">Tình trạng xét nghiệm</th>
            <th class="cell-data-8">Ngày dự kiến thực hiện xét nghiệm</th>
            <th class="cell-data-8">Ngày yêu cầu xét nghiệm</th>
            <th class="cell-data-8">Bác sĩ yêu cầu xét nghiệm</th>
            <th class="cell-data-8">Ghi chú cho xét nghiệm</th>
            <th class="cell-data-8">Chẩn đoán</th>
            {%if services %}
            <th></th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
    {% if services %}
        {% for service in services %}
        <tr>
            <td class="cell-data-8"><a href="{%url 'fhir:chitietxetnghiem'  data.Patient.identifier data.Encounter.identifier service.service_identifier%}"">{{service.service_identifier}}</a></td>
            <td class="cell-data-8">{{service.service_code}}</td>
            <td class="cell-data-8">{{service.get_service_status_display}}</td>
            <td class="cell-data-8">{{service.service_occurrence|date:"d-m-Y"}}</td>
            <td class="cell-data-8">{{service.service_authored|date:"d-m-Y"}}</td>
            <td class="cell-data-8">{{service.service_requester}}</td>
            <td class="cell-data-8">{{service.service_note}}</td>
            <td class="cell-data-8"><a href="{% url 'fhir:chandoan'  data.Patient.identifier data.Encounter.identifier service.service_identifier%}">Chẩn đoán</a></td>
            <td>
                <form action="{% url 'fhir:delete' %}" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="resource_type" id="" value="service_request">
                    <input type="hidden" name="url_next" value="{{request.get_full_path}}">
                    <input type="hidden" name="resource_identifier" value="{{service.service_identifier}}">
                    <button type="submit" class="btn cancel">Xóa</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</tbody>
    <div>
        <div class="formPopup" id="serviceForm">
            <div class="formContainer">
                <form action="" method="POST">
                    {%csrf_token%}
                    <div class="flex_container">
                        <label class="title">Tên xét nghiệm:</label>
                    {{form.service_code|add_class:"value"}}
                    </div>
                    <br>
                    <div class="flex_container">
                        <label class="title">Ngày dự kiến thực hiện:</label>
                        {{form.service_occurrence|add_class:"value"}}
                    </div>
                    <br>
                    <div class="flex_container">
                        <label class="title">Ghi chú thêm:</label>
                        {{form.service_note|add_class:"value"}}
                    </div>
                    <br>
                    <button type="submit" class="btn">Thêm</button>
                    <button type="button" class="btn cancel" onclick="closeForm('serviceForm')">Hủy</button>
                </form>
            </div>
        </div>
    </div>
    {%if services%}
    <tr style="width: 30%;">
        <td  colspan="9"><button class="float-left submit-button btn" onclick="openForm('serviceForm')">Thêm xét nghiệm</button></td>
    </tr>
    {%else%}
    <tr style="width: 30%;">
        <td colspan="8"><button class="float-left submit-button btn" onclick="openForm('serviceForm')">Thêm xét nghiệm</button></td>
    </tr>
    {%endif%}

</table>
{%endblock%}    