{%extends 'fhir/base.html'%}
{%block url1%}'{%url 'fhir:hanhchinh' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block url2%}'{%url 'fhir:dangky' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block url3%}'{%url 'fhir:hoibenh' group_name user_name data.Patient.identifier data.Encounter.id%}'{%endblock%}
{%block leftbar%}
    {%if services%}
        {%for service in services%}
            {%if service.request_description%}
            <li><a href="{%url 'fhir:ketqua' group_name user_name data.Patient.identifier data.Encounter.id service.servicerequest_id%}">{{service.request_description}}</a></li>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endblock%}
{%block function%}
    {%if observations%}
        <form action="">
            {%csrf_token%}
            {%for observation in observations%}
                {%if observation.valuequantity%}
                    <p>{{observation.name}}: {{observation.valuequantity}} {{observation.valueunit}}</p>
                {%else%}
                    <label for="{{observation.id}}">{{observation.name}}</label>
                    <input type="text" name="{{observation.id}}" id="{{observation.id}}">
                    <p style="display: inline;">{{observation.valueunit}}</p>
                    <br>
                {%endif%}
            {%endfor%}
            <button type="submit">Update</button>
        </form>
    {%else%}
    <h1>404 Not Found</h1>
    {%endif%}
{%endblock%}